.app {
}

.home-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative; /* 追加 */
}

.main-content {
  flex: 1;
  background-color: #f8f8f8;
  height: 100%;
  overflow-y: auto;
  position: relative; /* 追加 */
  z-index: 1; /* 追加 */
}

/* サイドバーとメインコンテンツのレイアウト */
.sidebar {
}

.editor-textarea {
  width: 100%;
}
